

@media (max-width:1600px) {
    :root {
        --color-bg-main: #07071C;
        --color-main: #02E0B8;
        --width-container: calc((100vw * 90) / 100);
    }
}
@media (max-width:1440px) {
    
}
@media (max-width:1366px) {

    .wrap-header-main .wrap-header-right nav#nav ul li a {
        font-size: 15px;
        padding: 13px 25px;
    }
    .wrap-header-main .wrap-header-right .wrap-cart {
        margin-left: 40px;
    }
    .banner-main .content-banner>p {
        font-size: 18px;
    }
    .banner-main .content-banner>h2 {
        font-size: 60px;
    }
    .banner-main .content-banner>.category-name {
        font-size: 20px;
    }
    .box-banner-header .content-banner>h2 {
        font-size: 26px;
    }
    .wrap-header-main {
        padding: 12px 0;
    }

}


@media (max-width:1200px) {

    .wrap-header-main .wrap-header-right nav#nav ul li a {
        font-size: 14px;
        padding: 13px 15px;
    }

}
@media (max-width:1080px) {
    
    .owl-carousel .owl-nav button.owl-prev::before {
        left: 10px;
    }
    .owl-carousel .owl-nav button.owl-next::before {
        right: 10px;
    }
    #banner-main .box-content-banner .title {
        font-size: 30px;
    }
}
@media (max-width:1024px) {
    header#header .header-top .icon-toggle-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
    }
    header#header .header-top .icon-toggle-menu .wrap-icon-toggle{
        position: relative;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header#header .header-top .icon-toggle-menu span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #FFF;
        transition: all .3s;
        margin-left: 0;
    }
    header#header .header-top .icon-toggle-menu span:before,
    header#header .header-top .icon-toggle-menu span:after{
        content: "";
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: #fff;
        left: 0;
        transition: all .3s;
        border-radius: 2px;
    }
    header#header .header-top .icon-toggle-menu span:before{
        top: 5px;
    }
    header#header .header-top .icon-toggle-menu span:after{
        bottom: 5px;
    }
    header#header .header-top .icon-toggle-menu .wrap-icon-toggle.active span{
        background-color: transparent;
        transition: all .3s;
    }
    header#header .header-top .icon-toggle-menu .wrap-icon-toggle.active span:before{
        transform: rotate(45deg);
        top: 12px;
        transition: all .3s;
    }
    header#header .header-top .icon-toggle-menu .wrap-icon-toggle.active span:after{
        transform: rotate(-45deg);
        bottom: 11px;
        transition: all .3s;
    }



    header#header .header-top .wrap-right-header-top{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-bg-main);
        z-index: 21;
        border-top: 1px solid #33333354
    }
    header#header .header-top .wrap-right-header-top .item{
        width: calc(100% / 3);
        margin: 0 auto;
        text-align: center;
        padding: 15px 0;
        border-right: 1px solid #ffffff8f;
    }
    header#header .header-top .wrap-right-header-top .item:last-child{
        border: none;
    }
    header#header .header-top .wrap-right-header-top .item svg{
        height: 25px;
    }
    header#header .header-top .wrap-right-header-top a.item span{
        display: none;
    }
    header#header .header-top{
        display: block;
        border: none;
        padding: 0;
    }
    header#header .header-top p{
        display: none;
    }
    .wrap-header-main .wrap-header-right nav#nav{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 300px;
        background-color: #FFF;
        z-index: 9;
        transition: all .3s;
        transform: translateX(-300px);
    }
    .wrap-header-main .wrap-header-right nav#nav ul{
        flex-direction: column;
        padding-top: 20px;
        align-items: flex-start;
        padding-left: 10px;
        padding-right: 10px;
    }
    .wrap-header-main .wrap-header-right nav#nav>ul{
        height: 100%;
        overflow: scroll;
        padding-bottom: 80px;
    }
    .wrap-header-main .wrap-header-right nav#nav .item-menu:nth-last-child(2) ul.menu-child .menu-child {
        left: 0;
        right: auto;
    }
    .wrap-header-main .wrap-header-right nav#nav ul li{
        width: 100%;
        border-bottom: 1px solid var(--color-bg-main);
    }
    .wrap-header-main .wrap-header-right nav#nav ul li ul ul li a{
        font-size: 13px;
    }
    header#header a {
        color: var(--color-main);
    }
    .wrap-header-main .wrap-header-right nav#nav.active{
        transform: translateX(0);
    }
    header#header.active-menu .logo,
        header#header.active-menu .wrap-header-main .wrap-header-right .wrap-cart{
        transform: translateX(300px);
        transition: all .3s;
    }
    main#main.active-menu,
    footer#footer.active-menu{
        transform: translateX(300px);
        transition: all .3s;
    }
    body.overlay{
        position: relative;
        overflow: hidden;
    }
    body.overlay:before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        background-color: #0000008a;
        z-index: 9;
    }
    .wrap-header-main .wrap-header-right .wrap-cart{
        padding-right: 10px;
    }
    
    .wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu{
        color: var(--color-main);
        width: 40px;
        height: 46px;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu.active{
        transform: rotate(-90deg);
        transition: all .3s;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child{
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: none;
        top: 0;
        padding-top: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-radius: 0;
        display: none;
        transition: none;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child .menu-child{
        left: 0;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child  li:last-child{
        border: none;
    }
    .wrap-header-main .wrap-header-right nav#nav li:hover>ul.menu-child{
        transition: none;
    }
    .wrap-header-main .logo{
        padding-left: 15px;
    }
    #banner-main .box-content-banner .title {
        font-size: 24px;
    }
    #banner-main .box-content-banner .content {
        font-size: 14px;
        margin-top: 25px;
    }
    .box-title {
        margin-bottom: 40px;
    }
    .box-title .title {
        font-size: 32px;
    }
    #global {
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .wrap-header-main .wrap-header-right nav#nav ul li a{
        color: var(--color-bg-main);
        padding-left: 0;
    }
    .wrap-header-main .wrap-header-right nav#nav ul li a.active{
        color: var(--color-bg-main);
        font-weight: 700;
    }
    .wrap-header-main .wrap-header-right nav#nav>ul>li>a:hover::before, .wrap-header-main .wrap-header-right nav#nav>ul>li>a.active::before{
        display: none
    }
}

@media (max-width:991px) {
    #result .owl-theme .owl-nav .owl-prev{
        left: 10px;
    }
    #result .owl-theme .owl-nav .owl-next{
        right: 10px;
    }
    #banner-main .box-content-banner .title {
        font-size: 18px;
    }
    #global .box-content-right{
        padding-left: 0;
        margin-top: 30px;
    }
    #result {
        margin-top: -20px;
        padding-bottom: 50px;
    }
    #leaders-golden {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .box-title .title {
        font-size: 28px;
    }
    .wrap-item-content .row [class*="col-"]{
        flex: unset;
        max-width: 100%;
    }
    .wrap-item-content .order-mobile-1{
        order: 1;
    }
    .wrap-item-content .order-mobile-2{
        order: 2;
    }
    .wrap-item-content .box-image{
        justify-content: center;
        padding-bottom: 30px;
        padding-right: 0!important;
    }
    .wrap-item-content .box-content.text-right{
        text-align: left!important;
    }
    .item-video .box-title{
        margin-top: 15px;
    }
    .item-video .box-title .title {
        font-size: 14px;
    }
    #link-room {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #video {
        padding: 60px 0;
    }
    #blog {
        padding-bottom: 45px;
    }
    footer#footer{
        padding-bottom: 60px;
    }
    .item-blog .title {
        font-size: 15px;
    }
}
@media (max-width:768px){
    .box-title .title {
        font-size: 24px;
        padding-bottom: 10px;
    }
    footer#footer .wrap-footer{
        flex-direction: column;
        align-items: center;
    }
    footer#footer .list-social{
        margin-bottom: 30px;
    }
    #banner-main .bg-banner-top {
        min-height: 280px;
    }
    #global {
        padding-top: 50px;
        padding-bottom: 90px;
    }
    #result {
        padding-bottom: 40px;
    }
    #leaders-golden {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #blog {
        padding-bottom: 10px;
    }
    #link-room .box-content .item .title-tele {
        font-size: 20px;
        margin: 25px 0;
    }
    .row.list-blog [class*="col-"]{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row.list-blog .item-blog{
        flex-direction: column;
    }
    .row.list-blog .item-blog{}
    .item-blog .title {
        margin-left: 0;
        margin-top: 10px;
    }
    .item-blog .box-image {
        max-width: 100%;
        min-width: 100%;
    }
}
@media (max-width:667px){
    
}
@media (max-width:576px){
    #banner-main .box-content-banner .title {
        font-size: 16px;
    }
    #banner-main .box-content-banner .content {
        font-size: 12px;
        margin-top: 11px;
    }
    footer#footer .text{
        text-align: center;
        font-size: 14px;
    }
    .item-blog .title {
        font-size: 14px;
    }
}
@media (max-width:540px){
    .wrap-video-youtube iframe{
        width: 100%;
        max-width: 95%;
        height: 250px;
    }
    .modal-content .close{
        margin-right: 20px;
    }
    #banner-main .box-content-banner {
        max-width: 70%;
    }
    .wrap-header-main .wrap-header-right .wrap-cart .btn{
        font-size: 14px;
    }
    .wrap-header-main .logo {
        padding-left: 5px;
    }
    .wrap-header-main .wrap-header-right .wrap-cart{
        padding-right: 0;
    }
    .box-title .title {
        font-size: 20px;
    }
}

@media (max-width:414px){
    .row.list-blog [class*="col-"]{
        flex: unset;
        max-width: 100%;
    }
}

@media (max-width:389px){
    
}
@media (max-width:375px){
   
}