

:root {
    
    --color-bg-main: #07071C;
    --color-main: #02E0B8;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.45;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

*,
::before,
::after {
    box-sizing: border-box;
    word-break: break-all;
}

p {
    margin-bottom: 0px;
}

a {
    /* color: var(--color-text); */
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: var(--font-normal);
    line-height: 1.33;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}


.m-100 {
    margin-top: 100px!important;
}
.mt-80{
    margin-top: 80px!important;
}
.mb-80{
    margin-bottom: 80px!important;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 1200px;
}


.font-bold {
    font-weight: 700;
}

.bg-white {
    background-color: white;
}
.bg-main{
    background-color: var(--color-bg-main);
}

.color-main {
    color: var(--color-main) !important
}

.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}



@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


/* HEADER  */
/* HEADER  */
/* HEADER  */
header#header {
    background: var(--color-bg-main);
    color: #FFF;
    z-index: 10;
    transition: all .7s;
}

header#header a {
    color: #FFF;
}

header#header .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10.5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all .4s;
}

header#header .header-top p {
    font-size: 12px;
}

header#header .header-top .wrap-right-header-top {
    display: flex;
    align-items: center;
}

header#header .header-top .wrap-right-header-top a {
    margin-left: 35px;
}

header#header .header-top .wrap-right-header-top span {
    font-size: 12px;
    display: inline-block;
    margin-left: 6px;
}
/*  */

.wrap-header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .4s;
}
.wrap-header-main .logo{
    transition: all .3s;
    line-height: 1;
}
.wrap-header-main .logo img{
    min-width: max-content;
}

.wrap-header-main .wrap-header-right {
    display: flex;
    align-items: center;
}

.wrap-header-main .wrap-header-right nav#nav ul {
    display: flex;
    align-items: center;
}

.wrap-header-main .wrap-header-right nav#nav ul li a {
    font-size: 14px;
    text-transform: uppercase;
}
.wrap-header-main .wrap-header-right nav#nav>ul>li>a{
    padding: 30px 15px;
    position: relative;
}
.wrap-header-main .wrap-header-right nav#nav>ul>li>a::before{
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.wrap-header-main .wrap-header-right nav#nav>ul>li>a:hover,
.wrap-header-main .wrap-header-right nav#nav>ul>li>a.active{
    color: var(--color-main);
}
.wrap-header-main .wrap-header-right nav#nav>ul>li>a:hover::before,
.wrap-header-main .wrap-header-right nav#nav>ul>li>a.active::before{
    background-color: var(--color-main);
}

.wrap-header-main .wrap-header-right nav#nav ul li a:hover {
    color: var(--color-main);
}

.wrap-header-main .wrap-header-right .wrap-cart {
    margin-left: 15px;
    position: relative;
    transition: all .3s;
}

.wrap-header-main .wrap-header-right .wrap-cart .btn {
    position: relative;
    background: linear-gradient(152.39deg, #1087FF 0%, #F13FF7 99.62%);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}
.wrap-header-main .wrap-header-right .wrap-cart .btn:hover{
    background: linear-gradient(152.39deg, #074e96 0%, #be24c4 99.62%);
}



.wrap-header-main .wrap-header-right nav#nav ul.menu li{
    position: relative;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu{
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 10px;
    display: none;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child{
    position: absolute;
    top:100%;
    left: 0;
    min-width: 250px;
    display: block;
    background: #FFF;
    border-radius: 4px;
    border:1px solid #E1DEDE;
    transition: all .3s;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li:not(:last-child){
    border-bottom:1px solid #E1DEDE;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li a{
    color:var(--color-bg-main);
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--font-600);
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child .menu-child{
    left: 100%;
    top: 0;
}
.wrap-header-main .wrap-header-right nav#nav .item-menu:nth-last-child(2) ul.menu-child .menu-child{
 left: auto;
 right: 100%;
}

.wrap-header-main .wrap-header-right nav#nav ul.menu-child li .icon-arrow-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li .icon-arrow-menu i{
    color: var(--color-bg-main);
}
.wrap-header-main .wrap-header-right nav#nav li:hover>ul.menu-child{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}
header#header .header-top{
    display: none;
}






/* END HEADER  */
/* END HEADER  */
/* footer  */
footer#footer .wrap-footer{
    padding: 32.5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer#footer .list-social{
    display: flex;
    align-items: center;
}
footer#footer .list-social li{
    margin-right: 20px;
}
footer#footer .list-social li:hover svg path{
    fill: var(--color-bg-main);
}
footer#footer .text{
    text-transform: uppercase;
    color: #FFF;
}
/* footer  */
main#main{
    transition: all .3s;
}
.modal-dialog {
    max-width: 990px;
    width: 100%;
    padding: 0 15px;
}
.modal-content{
    background-color: transparent;
    border: none;
}
.modal-content .close{
    opacity: 1;
    text-shadow: none;
    color: #FFF;
    text-align: right;
}
.box-title{
    display: block;
    text-align: center;
    margin-bottom: 60px;
}
.box-title .title{
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    padding-bottom: 20px;
    line-height: 1.15;
}
.box-title .text{
    font-size: 16px;
    color: #FFF;
    line-height: 1.1;
    margin-bottom: -15px;
}
.box-title .text .link{
    color: #2F80ED;
    text-decoration: underline;
}

/* main */
#banner-main{
    position: relative;
    background-color: var(--color-bg-main);
}
#banner-main .bg-banner-top{
    width: 100%;
}
#banner-main .container{
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#banner-main .box-content-banner{
    width: 100%;
    max-width: 59.5%;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
}
#banner-main .box-content-banner .title{
    font-size: 35px;
}
#banner-main .box-content-banner .content{
    font-size: 15px;
    margin-top: 35px;
}
#global{
    position: relative;
    padding-top: 80px;
    background-color: var(--color-bg-main);
    background-image: var(--bg-global);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 175px;
}
#global .item-banner-video{}
#global .item-banner-video .box-image{
    position: relative;
    background-color: var(--color-bg-main);
    cursor: pointer;
    border: 5px solid transparent;
    border-radius: 10px;
}
#global .item-banner-video .box-image::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: -8px;
    background-image: linear-gradient(to right bottom, #1087FF, #F13FF7);
    border-radius: 10px;
}
#global .item-banner-video .box-image img:not(.icon-youtube-video){
    position: relative;
    z-index: 3;
    width: 100%;
}
#global .item-banner-video .box-image .icon-youtube-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
#global .box-content-right{
    font-size: 16px;
    color: #FFF;
    text-transform: uppercase;
    padding-left: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#global .box-content-right .title{
    font-weight: 700;
    font-size: 16px;
}
#global .box-content-right ul{
    list-style: disc;
    padding-left: 20px;
}
#global .box-content-right ul li{
    line-height: 1.5;
    margin-bottom: 3px;
}
/* result */
#result{
    margin-top: -80px;
    position: relative;
    padding-bottom: 60px;
}
#result .item .box-image{
    width: 100%;
    margin: 13px 0;
}
#result .item .box-image img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-height: 320px;
}
#result .owl-theme .owl-nav [class*=owl-]{
    width: 65px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    border-radius: 5px;
}
#result .owl-theme .owl-nav [class*=owl-]:hover{
    background-color: var(--color-bg-main);
}
#result .owl-theme .owl-nav .owl-prev{
    left: -32px;
}
#result .owl-theme .owl-nav .owl-next{
    right: -32px;
}
/* leaders-golden */
#leaders-golden{
    background-color: #12122C;
    padding-top: 80px;
    padding-bottom: 80px;
}
.wrap-item-content{}
.wrap-item-content .row .col-7{
    flex: 0 0 54.16666666666667%;
    max-width: 54.16666666666667%;
}
.wrap-item-content .row .col-5{
    flex: 0 0 45.83333333333333%;
    max-width: 45.83333333333333%;
    
}
.wrap-item-content .box-image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.wrap-item-content .box-image img{
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
}
.wrap-item-content .box-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
}
.wrap-item-content .box-content .title{
    font-size: 16px;
    color: var(--color-main);
    margin-bottom: 20px;
    font-weight: 300;
}
.wrap-item-content .box-content .content{
    line-height: 1.6;
}
.wrap-item-content .item-left>div{
    padding-right: 20px;
}
/* recommendation */
#recommendation{
    background-color: #12122C;
}
#link-room{
    background-color: #12122C;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
#link-room .container{
    position: relative;
    z-index: 2;
}
#link-room .box-content .item{
    text-align: center;
}
#link-room .box-content .item .box-image:not(.bg-tranparent){
    background-color: var(--color-bg-main);
    border-radius: 5px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#link-room .box-content .item .box-image{
    margin: 0 auto;
}
#link-room .box-content .link{
    color: #2F80ED;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 40px;
    transition: all .3s;
}
#link-room .box-content .link:hover{
    color: var(--color-main);
}
#link-room .box-content .item .title-tele{
    font-size: 25px;
    text-transform: uppercase;
    color: #FFF;
    margin: 40px 0;
    text-align: center;
}
#link-room .bg-link.one{
    position: absolute;
    top: 0;
    right: 0;
}
#link-room .bg-link.two{
    position: absolute;
    bottom: 0;
    left: 0;
}

#video{
    padding: 80px 0;
}
.item-video{
    position: relative;
}
.item-video .box-image{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.item-video .box-image img:not(.icon-youtube-video){
    width: 100%;
    height: 100%;
}
.item-video .box-image .icon-youtube-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item-video .box-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.item-video .box-title .title{
    font-size: 16px;
    line-height: 1.1;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: left;
}
.item-video .box-title .title:hover{
    color: var(--color-main);
}
#blog{
    padding-bottom: 65px;
}
.item-blog{
    display: flex;
    align-items: flex-start;
}
.item-blog .box-image{
    width: 100%;
    max-width: 268px;
    min-width: 268px;
    overflow: hidden;
}
.item-blog .box-image img{
    width: 100%;
    transition: all .3s;
}
.item-blog .box-image:hover img{
    transform: scale(1.1);
}
.item-blog .title{
    margin-left: 30px;
    font-size: 20px;
    color: #FFF;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.item-blog .title:hover{
    color: var(--color-main);
}
.row.list-blog [class*="col-"]{
    margin-bottom: 30px;
}